/***************************************************************
CSS for all JSP pages
***************************************************************/
body {
    margin: 0;
}

table {
    border-collapse:collapse;
    text-align: center;
}

td {
    border:1px solid black;
    padding: 2px;
}

ul {
    text-align: center;
    list-style: inside;
}

th {
    padding-left: 15px;
    padding-right: 15px;
}

#header, #footer, .content {
    border: 1px solid black;
}

/***************************************************************
Style of the main table
***************************************************************/
#main-container {
    width: 100%;
    height: 100%;
}

/***************************************************************
Header style (TD tag in the first top row)
***************************************************************/
#header {
    background: #77C5EC;
    padding: 5px;
}

/***************************************************************
Style for the left located head menu (DIV tag at left)
***************************************************************/
#leftHeader {
    background: #77C5EC;
    float: left;
    margin-left: 5px;
}

/***************************************************************
Style for the right located head menu (DIV tag at right)
***************************************************************/
#rightHeader {
    background: #77C5EC;
    float: right;
    text-align: right;
    margin-right: 5px;
}

/***************************************************************
Content styles (TD tag in the main middle row)
***************************************************************/
.content {
    height: 100%;
    width: 20%;
    background: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-align: center;
    vertical-align: top;
}


/***************************************************************
Footer style (TD tag in the last bottom row)
***************************************************************/
#footer {
    background: #77C5EC;
    text-align: center;
    font-size: 12px;
}

/***************************************************************
Style for the ERROR message
***************************************************************/
.error {
    font-size: large;
    color: rgb(204, 0, 0);
}


/***************************************************************
Miscellaneous
***************************************************************/
.center {
    text-align: center;
    vertical-align: middle;
}

.center-top {
    text-align: center;
    vertical-align: top;
}


/***************************************************************
Login form (login.jsp)
***************************************************************/

#login_form > input {
    margin-top: 2px;
}

/***************************************************************
Register form (register.jsp, new_faculty.jsp)
***************************************************************/

#register_form > input {
    margin-top: 1px;
    margin-bottom: 1px;
}

#selectRegion {
    width: 288px;
}

#initials_form {
    margin-top: 1px;
    margin-bottom: 1px;
}

/***************************************************************
Style for the ReCaptcha
***************************************************************/

.g-recaptcha {
    margin: 10px;
    text-align: -webkit-center;
    text-align: -moz-center;
}


/***************************************************************
Links
***************************************************************/
a:link, a:visited {
    color: black;
    border: 1px solid black;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#link_padding {
    padding: 5px;
}


/***************************************************************
List faculties table (faculties.jsp)
***************************************************************/
#list_faculties_table {
    margin: 5px auto;
}

#list_faculties_table thead {
    text-align: center;
}


/***************************************************************
List users table (users.jsp)
***************************************************************/
#list_users_table {
    margin: 5px auto;
}

#list_users_table thead {
    text-align: center;
}

/***************************************************************
List users search table (users.jsp)
***************************************************************/
#list_search_table {
    margin: 5px auto;
    text-align: center;
}


